@keyframes popup-right-life {
0% { left: 100%; }
9.09091% { left: 0%; }
90.9091% { left: 0%; }
100% { left: 100%; }
}
@keyframes popup-left-life {
0% { left: -100%; }
9.09091% { left: 0%; }
90.9091% { left: 0%; }
100% { left: -100%; }
}
@font-face {
  font-family: "Open Sans CoMagic";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("open-sans-v14-cyrillic_latin-regular.woff2") format("woff2"), url("open-sans-v14-cyrillic_latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans CoMagic";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("open-sans-v14-cyrillic_latin-600.woff2") format("woff2"), url("open-sans-v14-cyrillic_latin-600.woff") format("woff");
}
@keyframes comagic-label-bubble-solid {
0% { transform: scale(0.7); opacity: 0; }
50% { transform: scale(1.25); opacity: 0.5; }
75%, 100% { transform: scale(0.7); opacity: 0; }
}
@keyframes comagic-label-bubble-empty-outer {
0%, 33.33% { transform: scale3d(0.4, 0.4, 0.4); opacity: 0.75; }
66.67%, 100% { transform: scale3d(0.9, 0.9, 0.9); opacity: 0; }
}
@keyframes comagic-label-bubble-empty-inner {
0%, 33.33% { transform: scale3d(0.4, 0.4, 0.4); opacity: 0.75; }
66.67%, 100% { transform: scale3d(0.7, 0.7, 0.7); opacity: 0; }
}
@keyframes comagic-label-bubble-solid-hide {
60%, 100% { height: 36px; width: 36px; }
90%, 100% { opacity: 0; }
}
.comagic-o-rack { z-index: 100002; position: fixed; display: flex; top: 0px; bottom: 0px; flex-direction: column; pointer-events: none; padding: 25px; }
.comagic-o-rack * { letter-spacing: normal; }
.comagic-o-rack:hover * { animation: 0s ease 0s normal none 1 running none; }
.comagic-o-rack > * { margin: 5px 0px; display: flex; flex-direction: inherit; }
.comagic-o-rack--right { right: 0px; }
.comagic-o-rack--bottom { justify-content: flex-end; padding-bottom: 40px; }
.comagic-o-styled-scroll { overflow-y: auto; }
@keyframes comagic-label-icon-sitephone {
1%, 2% { transform: rotate3d(0, 0, 1, 9deg); opacity: 1; }
3%, 5%, 7% { transform: rotate3d(0, 0, 1, -9deg); }
4%, 6%, 8% { transform: rotate3d(0, 0, 1, 9deg); }
9% { transform: rotate3d(0, 0, 1, 0deg); }
}
.comagic-c-sitephone-label { height: 60px; width: 60px; position: relative; pointer-events: auto; cursor: pointer; text-align: left; transition-property: transform, opacity, height; transition-duration: 0.7s, 0.7s, 1.4s; }
.comagic-c-sitephone-label__bubble { position: absolute; box-sizing: border-box; border: 1px solid rgb(35, 36, 38); border-radius: 100%; }
.comagic-c-sitephone-label__bubble--solid { height: 60px; width: 60px; box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.09), 0px 2px 14px rgba(0, 0, 0, 0.19); }
.comagic-c-sitephone-label__bubble--solid-color { background-color: rgb(35, 36, 38); }
.comagic-c-sitephone-label__bubble--solid-animation { animation: 6s ease-in 0s normal none infinite running comagic-label-bubble-solid; }
.comagic-c-sitephone-label__bubble--empty-outer { height: 120px; width: 120px; top: -30px; left: -30px; }
.comagic-c-sitephone-label__bubble--empty-outer-animation { animation: 6s ease-out 0s normal none infinite running comagic-label-bubble-empty-outer; }
.comagic-c-sitephone-label__bubble--empty-inner { height: 120px; width: 120px; top: -30px; left: -30px; }
.comagic-c-sitephone-label__bubble--empty-inner-animation { animation: 6s ease-out 0s normal none infinite running comagic-label-bubble-empty-inner; }
.comagic-c-sitephone-label__icon { position: absolute; margin-left: 15px; margin-top: 15px; height: 30px; width: 30px; transform: rotate3d(0, 0, 0, 0deg); background-size: cover; }
.comagic-c-sitephone-label--middle, .comagic-c-sitephone-label--bottom, .comagic-c-sitephone-label--top { order: 0; }
.comagic-c-sitephone-label__icon--sitephone { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 128 128'%3E%3Cg fill='%23fff'%3E%3Cpath d='M104.2,96.1c-1.4-1.6-2.9-3-4.4-4.4c-0.7-0.7-1.5-1.4-2.2-2.2l-6.4-6.4c-2.7-2.7-5.9-4.2-9.2-4.2c-3.3,0-6.5,1.4-9.2,4.2c-0.7,0.7-1.3,1.3-2,2c-1.5,1.5-3.1,3-4.6,4.7c-2.7-1.3-5.5-3.1-8.7-5.7c-4.2-3.4-7.8-6.8-10.9-10.5c-1.7-2-4.7-2.2-6.7-0.4c-2,1.7-2.2,4.7-0.4,6.7c3.5,4,7.5,7.9,12.1,11.6c0,0,0,0,0.1,0c4.7,3.7,8.6,6.1,12.7,7.8c0.1,0.1,0.2,0.1,0.3,0.1c1,0.3,4,1.3,6.9-1.6l0.2-0.2c1.8-2,3.7-3.9,5.7-5.8c0.7-0.7,1.4-1.3,2-2c0.6-0.6,1.6-1.4,2.6-1.4c0.9,0,1.9,0.8,2.5,1.4l6.4,6.4c0.8,0.8,1.6,1.5,2.3,2.3c1.5,1.4,2.8,2.8,4.2,4.2c0,0.1,0.1,0.1,0.1,0.1c1,1,2.1,2.6-0.1,4.8l-8,8c-1.7,1.7-3.6,2.6-6,2.8c-4.1,0.3-8.4-0.4-14.1-2.5c-9.4-3.5-18.2-8.8-27.7-16.6C30.2,89.6,21.2,78.1,14.8,65c-2.3-4.8-4.9-11.1-5.4-17.8c-0.2-3.7,0.8-6.4,3.2-8.7c1.8-1.5,3.3-3.1,4.8-4.6c0.9-1,1.8-1.9,2.8-2.8l0,0c1.9-1.8,3.4-1.8,5.2-0.1l13,13l0.1,0.1c0.6,0.5,1.2,1.3,1.2,2.2c0,0.9-0.7,1.9-1.3,2.5l-8,8c-1.8,1.8-1.8,4.8,0,6.7c1.8,1.8,4.8,1.8,6.7,0l8-8c2.7-2.7,4.1-5.9,4.1-9.3c0-3.3-1.4-6.4-4.1-8.9L32.1,24.4c-5.4-5.4-12.8-5.4-18.4-0.1c-1.1,1-2.1,2.1-3.1,3.1c-1.4,1.4-2.7,2.8-4.1,4c-0.1,0.1-0.1,0.1-0.2,0.2C1.8,35.7-0.3,41.2,0,47.8c0.6,8.3,3.6,15.7,6.3,21.2v0c7,14.4,16.8,26.9,29.3,37.4c10.3,8.6,20,14.4,30.4,18.2c3.8,1.4,9.4,3.2,15.6,3.2c0.8,0,1.7,0,2.5-0.1h0c4.6-0.4,8.6-2.3,11.9-5.5l8-8l0.1-0.1C109.4,108.8,109.3,101.3,104.2,96.1L104.2,96.1z M104.2,96.1'/%3E%3Cpath d='M102.3,64c-1.6-9.6-6.2-18.3-13.1-25.2c-6.9-6.9-15.6-11.4-25.2-13c-2.6-0.4-5,1.3-5.5,3.9c-0.4,2.6,1.3,5,3.9,5.5c7.6,1.3,14.6,4.9,20.1,10.4C88.1,51,91.7,57.9,93,65.6c0.4,2.3,2.4,3.9,4.7,3.9c0.3,0,0.5,0,0.8-0.1C101,69,102.8,66.5,102.3,64L102.3,64z M102.3,64'/%3E%3Cpath d='M127.9,62.8c-2.7-15.7-10.1-29.9-21.4-41.3C95.2,10.2,80.9,2.8,65.3,0.1c-2.6-0.4-5,1.3-5.5,3.9c-0.4,2.6,1.3,5,3.9,5.5c13.7,2.3,26.2,8.8,36.2,18.7c9.9,9.9,16.4,22.4,18.7,36.2c0.4,2.3,2.4,3.9,4.7,3.9c0.3,0,0.5,0,0.8-0.1C126.6,67.8,128.4,65.4,127.9,62.8L127.9,62.8z M127.9,62.8'/%3E%3C/g%3E%3C/svg%3E"); animation: 6.6s ease-in-out 0s normal none infinite running comagic-label-icon-sitephone; }
.comagic-js-sitephone-label--hidden { opacity: 0; pointer-events: none; }
.comagic-js-sitephone-label--hidden.comagic-c-sitephone-label--bottom { transform: translateY(50px); height: 0px; }
.comagic-c-sitephone-container { z-index: 100003; position: fixed; height: 100%; display: flex; flex-direction: column; top: 0px; opacity: 0; transition-property: transform, opacity; transition-duration: 0.7s, 0.7s; pointer-events: none; }
.comagic-c-sitephone-container * { transform: none; box-sizing: content-box; letter-spacing: normal; }
.comagic-c-sitephone-container__banner-branding { position: absolute; text-align: center; width: 320px; }
.comagic-c-sitephone-container__banner-branding--default { bottom: 2px; }
.comagic-c-sitephone-container__banner-branding-text { font-family: "Open Sans CoMagic",sans-serif; font-size: 10px; color: rgb(189, 189, 189); text-decoration: none; border: 0px none; display: block; width: 55px; margin: 0px auto; height: 18px; line-height: 22px; }
.comagic-c-sitephone-container__banner-branding-text:hover, .comagic-c-sitephone-container__banner-branding-text:link, .comagic-c-sitephone-container__banner-branding-text:visited, .comagic-c-sitephone-container__banner-branding-text:active { color: rgb(189, 189, 189); text-decoration: none; cursor: pointer; border: 0px none; }
.comagic-c-sitephone-container--bottom { transform-origin: center bottom 0px; justify-content: flex-end; }
.comagic-c-sitephone-container--right { right: 0px; }
.comagic-c-sitephone-container__content { background-color: rgb(255, 255, 255); border-radius: 5px; box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25); position: relative; margin: 25px; pointer-events: auto; }
.comagic-c-sitephone-container__header { height: 60px; background: rgb(35, 36, 38) none repeat scroll 0% 0%; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25); overflow: hidden; padding: 0px 12px; display: flex; align-items: center; border-top-left-radius: 5px; border-top-right-radius: 5px; }
.comagic-c-sitephone-container__header-title { text-align: left; font: 19px "Open Sans CoMagic",sans-serif; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); width: 100%; max-height: 50px; }
.comagic-c-simple-sitephone { width: 60px; opacity: 0; z-index: 1; transition: width 0.4s ease-in 0s, opacity 1s ease-in 0s; position: absolute; height: 60px; border-radius: 30px; background-color: rgb(255, 255, 255); top: 0px; }
.comagic-c-simple-sitephone ~ * { transition: transform 0.6s linear 0s; transform-origin: initial; }
.comagic-c-simple-sitephone--right { right: 0px; }
.comagic-c-simple-sitephone__icon { position: relative; margin-left: 15px; height: 30px; width: 30px; transform: rotate3d(0, 0, 0, 0deg); background-size: cover; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 128 128'%3E%3Cg fill='%23232426'%3E%3Cpath d='M104.2,96.1c-1.4-1.6-2.9-3-4.4-4.4c-0.7-0.7-1.5-1.4-2.2-2.2l-6.4-6.4c-2.7-2.7-5.9-4.2-9.2-4.2c-3.3,0-6.5,1.4-9.2,4.2c-0.7,0.7-1.3,1.3-2,2c-1.5,1.5-3.1,3-4.6,4.7c-2.7-1.3-5.5-3.1-8.7-5.7c-4.2-3.4-7.8-6.8-10.9-10.5c-1.7-2-4.7-2.2-6.7-0.4c-2,1.7-2.2,4.7-0.4,6.7c3.5,4,7.5,7.9,12.1,11.6c0,0,0,0,0.1,0c4.7,3.7,8.6,6.1,12.7,7.8c0.1,0.1,0.2,0.1,0.3,0.1c1,0.3,4,1.3,6.9-1.6l0.2-0.2c1.8-2,3.7-3.9,5.7-5.8c0.7-0.7,1.4-1.3,2-2c0.6-0.6,1.6-1.4,2.6-1.4c0.9,0,1.9,0.8,2.5,1.4l6.4,6.4c0.8,0.8,1.6,1.5,2.3,2.3c1.5,1.4,2.8,2.8,4.2,4.2c0,0.1,0.1,0.1,0.1,0.1c1,1,2.1,2.6-0.1,4.8l-8,8c-1.7,1.7-3.6,2.6-6,2.8c-4.1,0.3-8.4-0.4-14.1-2.5c-9.4-3.5-18.2-8.8-27.7-16.6C30.2,89.6,21.2,78.1,14.8,65c-2.3-4.8-4.9-11.1-5.4-17.8c-0.2-3.7,0.8-6.4,3.2-8.7c1.8-1.5,3.3-3.1,4.8-4.6c0.9-1,1.8-1.9,2.8-2.8l0,0c1.9-1.8,3.4-1.8,5.2-0.1l13,13l0.1,0.1c0.6,0.5,1.2,1.3,1.2,2.2c0,0.9-0.7,1.9-1.3,2.5l-8,8c-1.8,1.8-1.8,4.8,0,6.7c1.8,1.8,4.8,1.8,6.7,0l8-8c2.7-2.7,4.1-5.9,4.1-9.3c0-3.3-1.4-6.4-4.1-8.9L32.1,24.4c-5.4-5.4-12.8-5.4-18.4-0.1c-1.1,1-2.1,2.1-3.1,3.1c-1.4,1.4-2.7,2.8-4.1,4c-0.1,0.1-0.1,0.1-0.2,0.2C1.8,35.7-0.3,41.2,0,47.8c0.6,8.3,3.6,15.7,6.3,21.2v0c7,14.4,16.8,26.9,29.3,37.4c10.3,8.6,20,14.4,30.4,18.2c3.8,1.4,9.4,3.2,15.6,3.2c0.8,0,1.7,0,2.5-0.1h0c4.6-0.4,8.6-2.3,11.9-5.5l8-8l0.1-0.1C109.4,108.8,109.3,101.3,104.2,96.1L104.2,96.1z M104.2,96.1'/%3E%3Cpath d='M102.3,64c-1.6-9.6-6.2-18.3-13.1-25.2c-6.9-6.9-15.6-11.4-25.2-13c-2.6-0.4-5,1.3-5.5,3.9c-0.4,2.6,1.3,5,3.9,5.5c7.6,1.3,14.6,4.9,20.1,10.4C88.1,51,91.7,57.9,93,65.6c0.4,2.3,2.4,3.9,4.7,3.9c0.3,0,0.5,0,0.8-0.1C101,69,102.8,66.5,102.3,64L102.3,64z M102.3,64'/%3E%3Cpath d='M127.9,62.8c-2.7-15.7-10.1-29.9-21.4-41.3C95.2,10.2,80.9,2.8,65.3,0.1c-2.6-0.4-5,1.3-5.5,3.9c-0.4,2.6,1.3,5,3.9,5.5c13.7,2.3,26.2,8.8,36.2,18.7c9.9,9.9,16.4,22.4,18.7,36.2c0.4,2.3,2.4,3.9,4.7,3.9c0.3,0,0.5,0,0.8-0.1C126.6,67.8,128.4,65.4,127.9,62.8L127.9,62.8z M127.9,62.8'/%3E%3C/g%3E%3C/svg%3E"); }
.comagic-c-simple-sitephone__form * { transition: opacity 0.7s linear 0s; }
.comagic-c-simple-sitephone__form { display: flex; width: 100%; height: 100%; overflow: hidden; opacity: 0; transition: opacity 0.7s linear 0s; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 30px; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15); }
.comagic-c-simple-sitephone__form-text { width: 120px; font-family: "Open Sans CoMagic",sans-serif; font-size: 13.4px; color: rgb(66, 66, 66); line-height: 17px; white-space: pre-line; overflow: hidden; text-overflow: clip; }
.comagic-c-simple-sitephone__form-item { margin-left: 14px; align-self: center; }
.comagic-c-simple-sitephone__feedback { opacity: 0; position: absolute; visibility: hidden; align-items: center; justify-content: center; width: 330px; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 30px; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15); }
.comagic-c-simple-sitephone__feedback-countdown { width: 48px; height: 48px; box-sizing: border-box; margin-right: 8px; border: 2px solid rgb(207, 204, 204); border-radius: 50px; text-align: center; color: rgb(102, 102, 102); font: 24px/44px "Open Sans CoMagic",sans-serif; }
.comagic-c-simple-sitephone__feedback-icon { width: 32px; height: 32px; margin-right: 20px; }
.comagic-c-simple-sitephone__feedback-text { width: 250px; text-align: left; color: rgb(66, 66, 66); }
.comagic-c-simple-sitephone__feedback-title { font: 15px "Open Sans CoMagic",sans-serif; }
.comagic-c-simple-sitephone__feedback-message { font: 12.5px "Open Sans CoMagic",sans-serif; }
.comagic-c-simple-sitephone__links { position: absolute; display: flex; align-items: flex-end; right: 30px; opacity: 0; z-index: -1; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25); background: rgb(250, 250, 250) none repeat scroll 0% 0%; border-radius: 0px 0px 8px 8px; padding: 6px 10px 5px; transition: opacity 0.1s linear 0s; max-width: 440px; }
.comagic-c-simple-sitephone__banner-branding { font-family: "Open Sans CoMagic",sans-serif; font-size: 10px; line-height: 14px; margin: 0px; color: rgb(189, 189, 189); display: block; text-decoration: none; width: auto; border: 0px none; text-align: center; }
.comagic-c-simple-sitephone__banner-branding:hover, .comagic-c-simple-sitephone__banner-branding:link, .comagic-c-simple-sitephone__banner-branding:visited, .comagic-c-simple-sitephone__banner-branding:active { color: rgb(189, 189, 189); text-decoration: none; cursor: pointer; border: 0px none; }
.comagic-js-simple-sitephone--hidden { pointer-events: none; }
.comagic-c-sitephone { width: 320px; height: 460px; }
.comagic-c-sitephone__header-icon { width: 36px; height: 36px; padding-right: 12px; background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 128 128'%3E%3Cg fill='%23fff'%3E%3Cpath d='M104.2,96.1c-1.4-1.6-2.9-3-4.4-4.4c-0.7-0.7-1.5-1.4-2.2-2.2l-6.4-6.4c-2.7-2.7-5.9-4.2-9.2-4.2c-3.3,0-6.5,1.4-9.2,4.2c-0.7,0.7-1.3,1.3-2,2c-1.5,1.5-3.1,3-4.6,4.7c-2.7-1.3-5.5-3.1-8.7-5.7c-4.2-3.4-7.8-6.8-10.9-10.5c-1.7-2-4.7-2.2-6.7-0.4c-2,1.7-2.2,4.7-0.4,6.7c3.5,4,7.5,7.9,12.1,11.6c0,0,0,0,0.1,0c4.7,3.7,8.6,6.1,12.7,7.8c0.1,0.1,0.2,0.1,0.3,0.1c1,0.3,4,1.3,6.9-1.6l0.2-0.2c1.8-2,3.7-3.9,5.7-5.8c0.7-0.7,1.4-1.3,2-2c0.6-0.6,1.6-1.4,2.6-1.4c0.9,0,1.9,0.8,2.5,1.4l6.4,6.4c0.8,0.8,1.6,1.5,2.3,2.3c1.5,1.4,2.8,2.8,4.2,4.2c0,0.1,0.1,0.1,0.1,0.1c1,1,2.1,2.6-0.1,4.8l-8,8c-1.7,1.7-3.6,2.6-6,2.8c-4.1,0.3-8.4-0.4-14.1-2.5c-9.4-3.5-18.2-8.8-27.7-16.6C30.2,89.6,21.2,78.1,14.8,65c-2.3-4.8-4.9-11.1-5.4-17.8c-0.2-3.7,0.8-6.4,3.2-8.7c1.8-1.5,3.3-3.1,4.8-4.6c0.9-1,1.8-1.9,2.8-2.8l0,0c1.9-1.8,3.4-1.8,5.2-0.1l13,13l0.1,0.1c0.6,0.5,1.2,1.3,1.2,2.2c0,0.9-0.7,1.9-1.3,2.5l-8,8c-1.8,1.8-1.8,4.8,0,6.7c1.8,1.8,4.8,1.8,6.7,0l8-8c2.7-2.7,4.1-5.9,4.1-9.3c0-3.3-1.4-6.4-4.1-8.9L32.1,24.4c-5.4-5.4-12.8-5.4-18.4-0.1c-1.1,1-2.1,2.1-3.1,3.1c-1.4,1.4-2.7,2.8-4.1,4c-0.1,0.1-0.1,0.1-0.2,0.2C1.8,35.7-0.3,41.2,0,47.8c0.6,8.3,3.6,15.7,6.3,21.2v0c7,14.4,16.8,26.9,29.3,37.4c10.3,8.6,20,14.4,30.4,18.2c3.8,1.4,9.4,3.2,15.6,3.2c0.8,0,1.7,0,2.5-0.1h0c4.6-0.4,8.6-2.3,11.9-5.5l8-8l0.1-0.1C109.4,108.8,109.3,101.3,104.2,96.1L104.2,96.1z M104.2,96.1'/%3E%3Cpath d='M102.3,64c-1.6-9.6-6.2-18.3-13.1-25.2c-6.9-6.9-15.6-11.4-25.2-13c-2.6-0.4-5,1.3-5.5,3.9c-0.4,2.6,1.3,5,3.9,5.5c7.6,1.3,14.6,4.9,20.1,10.4C88.1,51,91.7,57.9,93,65.6c0.4,2.3,2.4,3.9,4.7,3.9c0.3,0,0.5,0,0.8-0.1C101,69,102.8,66.5,102.3,64L102.3,64z M102.3,64'/%3E%3Cpath d='M127.9,62.8c-2.7-15.7-10.1-29.9-21.4-41.3C95.2,10.2,80.9,2.8,65.3,0.1c-2.6-0.4-5,1.3-5.5,3.9c-0.4,2.6,1.3,5,3.9,5.5c13.7,2.3,26.2,8.8,36.2,18.7c9.9,9.9,16.4,22.4,18.7,36.2c0.4,2.3,2.4,3.9,4.7,3.9c0.3,0,0.5,0,0.8-0.1C126.6,67.8,128.4,65.4,127.9,62.8L127.9,62.8z M127.9,62.8'/%3E%3C/g%3E%3C/svg%3E") no-repeat scroll 0% 0%; }
.comagic-c-sitephone__body { padding: 0px 40px; }
.comagic-c-sitephone__form { transition: opacity 0.9s linear 0.4s; position: relative; opacity: 1; }
.comagic-c-sitephone__feedback { display: flex; opacity: 0; visibility: hidden; flex-direction: column; align-items: center; }
.comagic-c-sitephone__feedback-icon { width: 64px; height: 64px; margin: 50px 0px 20px; }
.comagic-c-sitephone__feedback-countdown { width: 80px; height: 80px; border: 2px solid rgb(207, 204, 204); border-radius: 50px; margin: 42px 0px 20px; text-align: center; color: rgb(102, 102, 102); font: 38px/80px "Open Sans CoMagic",sans-serif; }
.comagic-c-sitephone__feedback-text { text-align: center; font: 13pt "Open Sans CoMagic",sans-serif; color: rgb(66, 66, 66); }
.comagic-c-sitephone__feedback-title { font-weight: bold; }
.comagic-js-sitephone--hidden { pointer-events: none; }
.comagic-js-sitephone--hidden.comagic-c-sitephone-container--bottom.comagic-c-sitephone-container--right { transform: translate3d(130px, -45px, 0px) scale3d(0.001, 0.001, 1); }
.comagic-c-sitephone-button { height: 36px; border-radius: 18px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15); font-family: "Open Sans CoMagic",sans-serif; display: flex; flex-direction: column; text-align: center; justify-content: center; cursor: pointer; white-space: nowrap; overflow: hidden; text-overflow: clip; }
.comagic-c-sitephone-button--widget-color { color: rgb(255, 255, 255); background: rgb(35, 36, 38) none repeat scroll 0% 0%; }
.comagic-c-sitephone-button--default { font-size: 17px; line-height: 36px; }
.comagic-c-sitephone-button--small { font-size: 13.5px; width: 128px; }
.comagic-c-sitephone-tools { position: absolute; height: 22px; min-width: 22px; cursor: pointer; border-radius: 11px; top: -25px; background: rgb(117, 117, 117) none repeat scroll 0% 0%; display: flex; opacity: 0.9; transition: all 0.4s ease-in-out 0s; justify-content: space-evenly; }
.comagic-c-sitephone-tools--anchor-right { left: 0px; }
.comagic-c-sitephone-tools--anchor-left { right: 0px; }
.comagic-c-sitephone-tools__btn { width: 22px; height: 22px; display: block; cursor: pointer; background-repeat: no-repeat; background-position: center center; background-size: 50% auto; }
.comagic-c-sitephone-tools__btn--close { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 224.512 224.512' style='enable-background:new 0 0 224.512 224.512;' xml:space='preserve'%3E%3Cg%3E%3Cpolygon style='fill:%23fff' points='224.507,6.997 217.521,0 112.256,105.258 6.998,0 0.005,6.997 105.263,112.254    0.005,217.512 6.998,224.512 112.256,119.24 217.521,224.512 224.507,217.512 119.249,112.254  '/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E"); }
.comagic-c-sitephone-field { display: block; text-align: left; position: relative; overflow-x: hidden; font-family: "Open Sans CoMagic",sans-serif; line-height: normal; color: rgb(66, 66, 66); border-radius: 2px; border: 0px none; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15) inset, 1px 1px 2px rgba(0, 0, 0, 0.15) inset; box-sizing: content-box; }
.comagic-c-sitephone-field:empty { background: rgb(250, 250, 250) none repeat scroll 0% 0%; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15) inset; }
.comagic-c-sitephone-field:empty::before { content: attr(placeholder); color: rgb(158, 158, 158); height: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.comagic-c-sitephone-field:focus { outline: medium none; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15) inset, 0px 0px 7px rgba(33, 150, 243, 0.5); }
.comagic-c-sitephone-field--cursor-text { cursor: text; }
.comagic-c-sitephone-field--default { padding: 9px 12px 3px; font-size: 14.5px; height: 22px; }
.comagic-c-sitephone-field--small { width: 170px; font-size: 13.5px; }
.comagic-h-sitephone-opacity { opacity: 0; }
.comagic-h-sitephone-relative { position: relative; }
.comagic-h-sitephone-margin-top { margin-top: 18px; }
.comagic-h-sitephone-events-none { pointer-events: none; }
.comagic-h-sitephone-tools-owner.comagic-device-desktop:not(:hover) .comagic-c-tools { opacity: 0; }
