@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("icomoon.eot") format("embedded-opentype"), url("icomoon.ttf") format("truetype"), url("icomoon.woff") format("woff"), url("icomoon.svg") format("svg");
}
[class^="icon-"], [class*=" icon-"] { font-family: "icomoon" ! important; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
li { margin-bottom: 8px; line-height: 22px; }
.ml-auto { margin-left: auto; }
.icon-whatsapp::before { content: ""; color: rgb(35, 228, 12); }
.icon-account::before { content: ""; color: rgb(255, 255, 255); }
.icon-accordion::before { content: ""; color: rgb(194, 42, 62); }
.icon-ok::before { content: ""; color: rgb(255, 255, 255); }
.icon-apple::before { content: ""; color: rgb(170, 170, 170); }
.icon-android::before { content: ""; color: rgb(170, 170, 170); }
.icon-discount::before { content: ""; color: rgb(147, 147, 147); }
.icon-calendar::before { content: ""; color: rgb(147, 147, 147); }
.icon-snowflake::before { content: "🌸"; color: rgb(147, 147, 147); }
.icon-fb::before { content: ""; color: rgb(89, 89, 89); }
.icon-inst::before { content: ""; color: rgb(89, 89, 89); }
.icon-vk::before { content: ""; color: rgb(89, 89, 89); }
.icon-magnify::before { content: ""; color: rgb(147, 147, 147); }
@font-face {
  font-family: "Uni Sans";
  font-style: normal;
  font-weight: normal;
  src: url("UniSansRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans Heavy";
  font-style: italic;
  font-weight: 900;
  src: url("UniSansHeavyItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans";
  font-style: normal;
  font-weight: 100;
  src: url("UniSansThin.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans";
  font-style: normal;
  font-weight: bold;
  src: url("UniSansBold.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans Heavy CAPS";
  font-style: normal;
  font-weight: 900;
  src: url("UniSansHeavyCAPS.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans Light";
  font-style: italic;
  font-weight: 300;
  src: url("UniSansLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans Book";
  font-style: normal;
  font-weight: normal;
  src: url("UniSansBook.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans";
  font-style: normal;
  font-weight: 600;
  src: url("UniSansSemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans Regular";
  font-style: italic;
  font-weight: normal;
  src: url("UniSansRegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans";
  font-style: normal;
  font-weight: 900;
  src: url("UniSansHeavy.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans Heavy Italic CAPS";
  font-style: italic;
  font-weight: 900;
  src: url("UniSansHeavyItalicCAPS.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans Heavy Caps";
  font-style: italic;
  font-weight: 900;
  src: url("UniSansHeavyCapsItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans SemiBold";
  font-style: italic;
  font-weight: 600;
  src: url("UniSansSemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans Bold";
  font-style: italic;
  font-weight: bold;
  src: url("UniSansBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans Book";
  font-style: italic;
  font-weight: normal;
  src: url("UniSansBookItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Uni Sans";
  font-style: normal;
  font-weight: 300;
  src: url("UniSansLight.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: italic;
  font-weight: bold;
  src: url("PFDinDisplayPro-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: italic;
  font-weight: 900;
  src: url("PFDinDisplayPro-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: normal;
  font-weight: 100;
  src: url("PFDinDisplayPro-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: italic;
  font-weight: 100;
  src: url("PFDinDisplayPro-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: italic;
  font-weight: normal;
  src: url("PFDinDisplayPro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: italic;
  font-weight: 500;
  src: url("PFDinDisplayPro-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: italic;
  font-weight: 300;
  src: url("PFDinDisplayPro-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: normal;
  font-weight: 900;
  src: url("PFDinDisplayPro-Black.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: normal;
  font-weight: normal;
  src: url("PFDinDisplayPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: normal;
  font-weight: 300;
  src: url("PFDinDisplayPro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: normal;
  font-weight: bold;
  src: url("PFDinDisplayPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PF DinDisplay Pro";
  font-style: normal;
  font-weight: 500;
  src: url("PFDinDisplayPro-Medium.ttf") format("truetype");
}
body, html { margin: 0px; padding: 0px; }
body { padding-top: 143px; }
:focus { outline: medium none; }
* { font-family: sans-serif; }
.container { width: 100%; max-width: 1110px; margin: 0px auto; position: relative; }
.row { display: flex; flex-wrap: wrap; margin: 0px -15px; }
.col-12 { width: 100%; box-sizing: border-box; padding: 0px 15px; }
.col-7 { width: 58.3333%; box-sizing: border-box; padding: 0px 15px; }
.col-5 { width: 41.6667%; box-sizing: border-box; padding: 0px 15px; }
.col-4 { width: 33.3333%; box-sizing: border-box; padding: 0px 15px; }
.col-2 { width: 16.6667%; box-sizing: border-box; padding: 0px 15px; }
@media not print and (max-width: 1140px) {
}
@media (max-width: 768px) {
  .row { display: flex; flex-wrap: wrap; -moz-box-align: start; align-items: flex-start; margin: 0px -10px; }
}
.header-social { display: flex; margin-right: 22px; }
.header-social a { display: flex; -moz-box-pack: center; justify-content: center; -moz-box-align: center; align-items: center; width: 22px; height: 22px; text-decoration: none; margin-left: 12px; font-size: 22px; }
.header-phone { color: rgb(255, 255, 255); font-size: 20px; text-decoration: none; font-family: Uni Sans; font-style: italic; transition: color 0.15s ease 0s; }
.main-header, .main-sub-header, .header-bottom menu li a, .header-phone, .header-top-menu a, .header-callback-button, .discount-link, .icon-discount::before, .icon-apple::before, .icon-android::before, .icon-calendar::before, .icon-snowflake::before, .icon-vk::before, .icon-fb::before, .icon-inst::before, .icon-magnify::before { color: rgb(255, 255, 255); }
.header-phone:hover { color: rgb(122, 137, 160); }
.header-social a:first-child { margin-left: 0px; }
.header-top-menu { margin-left: 60px; }
.header-interactive a { display: flex; }
.header-interactive a img { height: 35px; }
[data-show-menu] { height: 40px; width: 40px; border: medium none; background: transparent none repeat scroll 0% 0%; font-size: 18px; display: flex; -moz-box-align: center; align-items: center; -moz-box-pack: center; justify-content: center; }
.header-top-menu a { text-decoration: none; margin-left: 43px; font-family: Roboto; font-size: 14px; color: rgb(255, 255, 255); display: inline-flex; -moz-box-align: center; align-items: center; transition: opacity 0.15s ease 0s; }
.services-banner { padding: 0px ! important; display: block; overflow: hidden; }
.services-banner img, .main-slider .slide img { display: block; }
.header-top-menu a span { margin-right: 5px; font-size: 14px; }
.header-top-menu a:first-child { margin-left: 0px; }
.header-mobile-app { margin-left: 45px; }
.header-mobile-app a { margin-left: 25px; font-size: 22px; text-decoration: none; transition: opacity 0.15s ease 0s; }
.header-mobile-app a:hover, .header-top-menu a:hover { opacity: 0.8; }
.header-mobile-app a:first-child { margin-left: 0px; }
.header-right { margin-left: auto; display: flex; -moz-box-align: center; align-items: center; }
.header-callback-button { background: transparent none repeat scroll 0% 0%; border: medium none; font-size: 14px; text-transform: uppercase; padding: 0px; color: rgb(255, 255, 255); font-family: Roboto; cursor: pointer; transition: opacity 0.15s ease 0s; }
.header-callback-button { opacity: 0.8; }
.show-form { padding: 0px; border: medium none; background: transparent none repeat scroll 0% 0%; font-size: 17px; margin-right: 51px; cursor: pointer; }
.discount-link { display: flex; -moz-box-align: center; align-items: center; font-family: Roboto; font-size: 14px; color: rgb(255, 255, 255); text-decoration: none; margin-right: 94px; }
.discount-link span { margin-right: 8px; }
.header-bottom { display: flex; -moz-box-align: center; align-items: center; height: 50px; }
.header-bottom menu, .header-bottom menu > div { display: flex; -moz-box-align: center; align-items: center; margin: 0px auto 0px 0px; padding: 0px; }
footer .success-form:not(:empty) { text-align: center; min-height: 498px; display: flex; align-items: center; justify-content: center; color: rgb(255, 255, 255); font-size: 23px; }
.header-bottom menu li { list-style: outside none none; margin-right: 33px; margin-bottom: 0px; font-size: 14px; font-family: Roboto; }
.header-bottom menu li a { color: rgb(255, 255, 255); text-decoration: none; border-bottom: 1px solid transparent; transition: border-bottom 0.3s ease 0s; }
.header-bottom menu li a:hover { border-bottom: 1px solid rgb(255, 255, 255); }
.header-top { height: 92px; display: flex; -moz-box-align: center; align-items: center; border-bottom: 1px solid rgb(170, 170, 170); }
.header { position: fixed; top: 0px; left: 0px; background: rgb(23, 23, 23) none repeat scroll 0% 0%; width: 100%; transition: background 0.15s ease 0s; z-index: 120; }
.header-bottom-right, .header-bottom-right-content { display: flex; -moz-box-align: center; align-items: center; -moz-box-flex: 1; flex: 1 1 0%; -moz-box-pack: end; justify-content: flex-end; }
.header-interactive { display: none; height: 65px; }
.interative-menu { background: rgb(23, 23, 23) none repeat scroll 0% 0%; position: fixed; top: 0px; left: -100%; width: 100%; height: 100%; overflow-y: auto; z-index: 10000; opacity: 0; transition: opacity 0.3s ease 0s; }
.interative-menu::before { content: ""; position: fixed; background: transparent url("lines-bg.svg") no-repeat scroll center center / cover ; opacity: 0.1; left: 0px; top: 0px; width: 100%; height: 100%; pointer-events: none; }
.interative-menu-close, .modal-close { position: absolute; right: 30px; border: medium none; top: 20px; width: 30px; height: 30px; background: rgb(255, 255, 255) url("interactive-menu-close.svg") no-repeat scroll center center; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); border-radius: 15px; }
.interative-menu-search { width: 440px; margin: 68px auto 0px; position: relative; }
.interative-search-result { position: absolute; width: 100%; left: 0px; top: 40px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 10px; border: 1px solid rgb(189, 189, 189); display: none; box-sizing: border-box; overflow: hidden; }
.interative-search-result a { min-height: 36px; padding: 10px 38px; box-sizing: border-box; text-decoration: none; font-family: Roboto; font-size: 14px; line-height: 17px; color: rgb(48, 48, 48); }
.interative-search-result a:hover, .interative-search-result a:active { color: rgb(255, 255, 255); background: rgb(48, 48, 48) none repeat scroll 0% 0%; }
.interactive-input-search { height: 35px; width: 100%; border-radius: 18px; padding: 0px 29px; font-family: Roboto; font-style: italic; font-weight: 300; font-size: 12px; line-height: 0px; border: 1px solid rgb(189, 189, 189); box-sizing: border-box; }
.modal { position: fixed; left: 0px; width: 100%; height: 100%; z-index: 1000; background: rgb(255, 255, 255) none repeat scroll 0% 0%; top: -100%; opacity: 0; transition: opacity 0.2s ease 0s; box-sizing: border-box; }
.modal-content { transform: scale(1.04); transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s; width: 100%; max-width: 1110px; margin: 0px auto; }
.interactive-net { display: flex; margin: 83px 0px 0px; padding: 0px; width: 100%; -moz-box-pack: center; justify-content: center; }
.interactive-net li { margin: 0px 30px; list-style: outside none none; }
.interactive-net li a { font-size: 24px; text-decoration: none; }
.interactive-net a span:not(.icon-whatsapp)::before { color: rgb(255, 255, 255); }
.interative-copyright { text-align: center; -moz-box-pack: center; justify-content: center; font-family: Roboto; font-size: 12px; line-height: 24px; color: rgb(255, 255, 255); margin: 53px 0px; }
.hide { display: none; }
.footer-form-image img { max-width: 100%; }
.interative-menu-header { display: flex; flex-wrap: wrap; padding-top: 43px; }
.interative-menu-header-left { display: flex; }
.interative-menu-header-right { margin-left: auto; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-align: end; align-items: flex-end; }
.interative-menu-header-right a, .interative-menu-work-time a { font-family: Uni Sans; font-size: 18px; text-decoration: underline; color: rgb(255, 255, 255); font-style: italic; font-weight: 300; }
.interative-menu-work-time a { margin-bottom: 25px; }
.interative-menu-header-right .btn-red { font-size: 11px; padding: 0px 12px; height: 35px; margin-top: 12px; }
.interative-menu-work-time { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; margin-left: 34px; }
.interative-menu-work-time span { color: rgb(255, 255, 255); font-family: Roboto; font-style: italic; font-size: 14px; font-weight: 200; margin-bottom: 12px; }
.interative-menu-work-time span.interative-menu-location { font-style: normal; }
.interative-menu-list { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; margin: 65px 0px 0px; padding: 0px; }
.interative-menu-list-two { margin: 52px 0px 0px; }
.interative-menu-list li { list-style: outside none none; margin-bottom: 32px; }
.interative-menu-list-two li { margin-bottom: 39px; }
.interative-menu-list li:last-child { margin-bottom: 0px; }
.interative-menu-list li a { color: rgb(255, 255, 255); font-family: Roboto; font-size: 14px; text-decoration: none; display: flex; -moz-box-align: center; align-items: center; }
.interative-menu-list li a span { margin-right: 10px; font-size: 18px; }
.interative-menu-list li a span::before { color: rgb(255, 255, 255); }
.col-auto { max-width: 100%; }
.header-container, .header-menu { max-width: 1650px; }
@media (max-width: 1140px) {
  .container { width: 742px; }
  body { padding-top: 65px; }
  .header-interactive { display: flex; -moz-box-align: center; align-items: center; -moz-box-pack: justify; justify-content: space-between; background: rgb(23, 23, 23) none repeat scroll 0% 0%; padding: 0px 40px; }
  .header { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }
  .header-container { display: none; }
  .header-menu { display: none; }
  .hide-1140 { display: none; }
  .show-1140 { display: initial; }
  .footer-form-btn { margin-top: 54px; }
  .show-1140-flex { display: flex; }
}
@media (max-width: 768px) {
  .interative-menu-header-left { width: 100%; }
  .interative-menu-header { max-width: 440px; width: 440px; }
  .container { width: 440px; }
  .interactive-net li { margin: 0px 8px; }
  .interative-menu-search { margin-top: 29px; }
  .interative-menu-list { margin-top: 43px; }
  .interactive-net { margin-top: 60px; }
}
@media (max-width: 480px) {
  .hide.show-480, .show-480 { display: initial; }
  .interative-menu-header { max-width: 320px; width: 320px; }
  .container { width: 320px; }
  .interative-menu-search { width: 100%; }
  .hide-480 { display: none; }
  .interative-btn { margin-top: 40px; }
  .interative-menu { padding-top: 45px; }
  .interative-menu-work-time { margin-left: auto; text-align: right; }
}
@media (max-width: 380px) {
  .interative-menu-header { max-width: 300px; width: 300px; }
  .interative-menu-search { margin-top: 80px; }
  .container { width: 300px; }
  .interative-btn { width: 100%; height: 55px; }
}
* { font-family: Roboto,sans-serif; }
p { font-family: Roboto; font-style: normal; font-size: 16px; line-height: 23px; color: rgb(62, 62, 62); margin: 12px 0px; }
.slider-wrapper { height: 200px; width: 100%; overflow: hidden; position: relative; visibility: hidden; }
.footer-img { background: transparent url("phone-bg.svg") no-repeat scroll left 21px center; }
.modal { z-index: 100000; overflow-y: hidden; }
.slider { position: absolute; left: 0px; top: 0px; display: flex; margin: 0px; padding: 0px; }
.slide { display: block; width: 100%; list-style: outside none none; }
.dots { display: flex; position: absolute; right: 0px; left: 0px; bottom: 16px; margin: 0px auto; width: -moz-max-content; }
.dots span { display: flex; width: 10px; height: 10px; border-radius: 5px; background: rgb(224, 224, 224) none repeat scroll 0% 0%; box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6); margin: 0px 4.5px; cursor: pointer; transition: background 0.4s ease 0s, transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s; }
.dots span.dot-active { background: rgb(189, 189, 189) none repeat scroll 0% 0%; transform: scale(1.4); }
.slide { box-sizing: border-box; }
.h2 { font-family: Uni Sans; font-size: 22px; text-transform: uppercase; color: rgb(62, 62, 62); margin: 0px; font-weight: 600; font-style: italic; }
.btn-red { box-sizing: border-box; background: rgb(194, 42, 62) none repeat scroll 0% 0%; border: 2px solid rgb(204, 76, 93); border-radius: 50px; color: rgb(255, 255, 255); height: 45px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); font-family: Roboto; font-size: 12px; line-height: 45px; text-decoration: none; text-transform: uppercase; cursor: pointer; padding: 0px 20px; transition: opacity 0.15s ease 0s; }
.btn-red:hover, .btn-red:active, .btn-red:focus, .btn-red-outlines:hover, .btn-red-outlines:active, .btn-red-outlines:focus { opacity: 0.8; }
.services-type-2 .accardion { margin-top: 45px; }
p { font-size: 16px; line-height: 23px; color: rgb(48, 48, 48); }
.text-center { text-align: center; }
.color-red { color: rgb(255, 0, 34); font-weight: bold; }
.f-f-h { font-family: Uni Sans; font-size: 30px; line-height: 43px; font-weight: normal; text-transform: uppercase; color: rgb(255, 255, 255); display: flex; padding-top: 94px; font-style: italic; }
.f-f-p { font-family: Roboto; font-size: 18px; line-height: 25px; color: rgb(255, 255, 255); margin: 16px 0px; }
.input input { border-width: medium medium 1px; border-style: none none solid; border-color: currentcolor currentcolor rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 40px; padding: 0px 12px; font-family: Roboto; font-style: italic; font-size: 16px; display: flex; width: 100%; background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); box-sizing: border-box; }
.footer-form { margin-top: 30px; max-width: 385px; margin-bottom: 46px; }
.input-checkbox { display: flex; cursor: pointer; -moz-user-select: none; margin-top: 32px; }
.footer-form-image { display: flex; -moz-box-align: end; align-items: flex-end; -moz-box-pack: end; justify-content: flex-end; }
.footer-form-image img { margin-right: 40px; }
.input-checkbox input { display: none; }
.footer-form .btn-red { padding: 0px 35px; margin-top: 18px; }
.input-checkbox > span { display: flex; width: 13px; -moz-box-pack: center; justify-content: center; -moz-box-align: center; align-items: center; min-width: 13px; height: 13px; border-radius: 3px; box-sizing: border-box; border: 1px solid rgb(194, 42, 62); margin-left: 5px; padding-left: 0.5px; font-size: 6.6px; padding-bottom: 0.6px; }
.input-checkbox > span span { visibility: hidden; }
.input-checkbox p, .input-checkbox p a { font-family: Roboto; font-size: 12px; line-height: 17px; color: rgb(255, 255, 255); margin: 0px 0px 0px 5px; }
.input-checkbox input:checked ~ span { background: rgb(194, 42, 62) none repeat scroll 0% 0%; }
.input-checkbox input:checked ~ span span { visibility: visible; }
.input { margin-bottom: 29px; }
.input input::-moz-placeholder { color: rgba(255, 255, 255, 0.8); }
.input input::placeholder { color: rgba(255, 255, 255, 0.8); }
footer { min-height: 300px; }
.footer-3000 { border-top: 2px solid rgb(242, 242, 242); }
.footer-copy { font-family: Roboto; font-size: 14px; color: rgb(255, 255, 255); margin: 0px; padding: 90px 0px 22px; display: inline-block; text-decoration: none; }
a.footer-copy { padding: 0px; margin-top: 90px; margin-bottom: 22px; margin-left: 20px; }
a.footer-copy:hover { text-decoration: underline; }
.footer-3000-item { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-align: center; align-items: center; padding-top: 44px; }
.footer-3000-title { font-family: Uni Sans; font-size: 12px; text-align: center; text-transform: uppercase; color: rgb(255, 255, 255); display: block; width: 100%; padding: 22px 0px; }
.footer-3000-item a { font-family: Roboto; font-size: 14px; text-align: center; text-decoration-line: underline; color: rgb(255, 255, 255); }
.breadcumbs a { font-family: Roboto; font-size: 14px; color: rgb(62, 62, 62); }
.breadcumbs > span [itemprop="itemListElement"]:first-child [itemprop="name"]::before { font-family: "icomoon" ! important; content: ""; margin-right: 5px; }
.breadcumbs { font-family: Roboto; font-size: 14px; color: rgb(62, 62, 62); margin-top: 63px; }
.breadcumbs a { text-decoration: none; }
.breadcumbs a:hover { text-decoration: underline; }
.breadcumbs span { color: rgb(189, 189, 189); }
.page-main-head { min-height: 502px; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-pack: center; justify-content: center; background-repeat: no-repeat; background-position: center center; }
.page-main-header { font-family: Uni sans; display: block; text-align: center; line-height: 64px; border-top: 3px solid rgb(62, 62, 62); border-bottom: 3px solid rgb(62, 62, 62); font-size: 28px; font-weight: 600; max-width: 730px; width: 100%; margin: 0px auto; }
.page-main-sub-header { font-family: PF DinDisplay Pro; font-size: 14px; line-height: 20px; color: rgb(48, 48, 48); text-align: center; margin-top: 5px; text-transform: uppercase; }
.accardion-item { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; width: 100%; border-top: 1px solid rgb(224, 224, 224); }
.accardion-header { display: flex; height: 54px; -moz-box-align: center; align-items: center; padding: 0px 5px; cursor: pointer; }
.accardion-header button { font-style: normal; border: medium none; background: transparent none repeat scroll 0% 0%; font-size: 25px; margin-right: 12px; transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
.accardion-content { padding: 25px; box-sizing: border-box; width: 100%; }
.accardion-header * { font-family: Uni Sans; font-size: 16px; line-height: 22px; font-weight: 500; font-style: italic; text-transform: uppercase; color: rgb(62, 62, 62); }
.accardion-contianer { display: flex; -moz-box-align: end; align-items: flex-end; overflow-y: hidden; height: 0px; transition: height 0.3s ease 0s; }
.page-main-head-minify { min-height: 155px; }
.page-main-head-minify .page-main-header { max-width: 100%; border-top: 1px solid rgb(224, 224, 224); border-bottom: 1px solid rgb(224, 224, 224); line-height: 50px; }
.slide { background-repeat: no-repeat; background-position: right 85px bottom; }
.slide { background-position: center center; background-size: cover; }
.service-filter { width: 100%; max-width: 825px; border: 2px solid rgb(238, 238, 238); box-sizing: border-box; border-radius: 15px; position: absolute; top: 0px; right: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; z-index: 5; display: none; }
.service-filter .correct-form { padding-left: 12px; padding-bottom: 30px; width: 100%; }
.service-filter .correct-buttons { margin-left: auto; margin-top: 40px; margin-right: 34px; }
.btn-red-sm { font-size: 14px; height: 33px; padding: 0px 15px; text-transform: initial; }
.services-menu { width: 255px; border: 1px solid rgb(224, 224, 224); box-sizing: border-box; border-radius: 15px; height: 100%; padding: 12px 0px; }
.services-menu ul { margin: 0px; padding: 0px; }
.services-menu ul li { list-style: outside none none; }
.services-menu ul li a { display: flex; -moz-box-align: center; align-items: center; height: 46px; font-family: Uni Sans; font-size: 14px; line-height: normal; text-transform: uppercase; color: rgb(62, 62, 62); text-decoration: none; padding-left: 32px; font-style: italic; font-weight: 500; position: relative; margin-right: 2px; }
.services-menu ul li a::after { content: ""; display: flex; position: absolute; right: -22px; top: 0px; width: 22px; height: 46px; background: transparent url("service-arrow.svg") repeat scroll 0% 0%; opacity: 0; }
.services-menu ul li a:hover, .services-menu ul li a.active { background: rgb(0, 159, 143) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.services-menu ul li a:hover::after, .services-menu ul li a.active::after { opacity: 1; }
.justify-content-between { -moz-box-pack: justify; justify-content: space-between; }
.row-services { display: flex; flex-wrap: wrap; -moz-box-align: start; align-items: flex-start; margin-top: 45px; margin-bottom: 64px; position: relative; }
.services-banner { background-color: rgb(28, 39, 56); background-position: right bottom; background-repeat: no-repeat; border-radius: 10px; padding: 46px 80px; background-size: contain; }
.margin-40-85 { margin-top: 40px; margin-bottom: 85px; }
.search-h2 { margin: 65px 0px 80px; }
.input-modal-checkbox.input-checkbox p, .input-modal-checkbox.input-checkbox p a { color: rgb(79, 79, 79) ! important; }
.correct-form { margin: 0px auto; }
.correct-form label p { margin-left: 8px; text-transform: lowercase; font-size: 14px; line-height: 14px; }
.correct-buttons { margin-top: 65px; }
.btn-accept, .btn-clear-filter { border: medium none; background: transparent none repeat scroll 0% 0%; font-size: 16px; line-height: 19px; padding: 0px; color: rgb(194, 42, 62); cursor: pointer; transition: color 0.15s ease-in-out 0s; }
.btn-clear-filter { color: rgb(189, 189, 189); }
.btn-accept { margin-right: 40px; }
.btn-accept:hover, .btn-clear-filter:hover { color: rgb(0, 0, 0); }
.correct-form label { margin-top: 28px; }
.hide { display: none; }
.services-banner { box-sizing: border-box; }
.services-menu .color-gray:hover, .services-menu .color-gray.active { background: rgb(140, 148, 156) none repeat scroll 0% 0%; }
.services-menu .color-gray:hover::after, .services-menu .color-gray.active::after { background-image: url("service-arrow-gray.svg"); }
.services-menu .color-yellow:hover, .services-menu .color-yellow.active { background: rgb(248, 159, 68) none repeat scroll 0% 0%; }
.services-menu .color-yellow:hover::after, .services-menu .color-yellow.active::after { background-image: url("service-arrow-yellow.svg"); }
.services-menu .color-red:hover, .services-menu .color-red.active { background: rgb(212, 61, 63) none repeat scroll 0% 0%; }
.services-menu .color-red:hover::after, .services-menu .color-red.active::after { background-image: url("service-arrow-red.svg"); }
.services-menu .color-pink:hover, .services-menu .color-pink.active { background: rgb(192, 57, 107) none repeat scroll 0% 0%; }
.services-menu .color-pink:hover::after, .services-menu .color-pink.active::after { background-image: url("service-arrow-pink.svg"); }
.services-menu .color-blue:hover, .services-menu .color-blue.active { background: rgb(33, 115, 231) none repeat scroll 0% 0%; }
.services-menu .color-blue:hover::after, .services-menu .color-blue.active::after { background-image: url("service-arrow-blue.svg"); }
.services-menu .color-orange:hover, .services-menu .color-orange.active { background: rgb(231, 95, 41) none repeat scroll 0% 0%; }
.services-menu .color-orange:hover::after, .services-menu .color-orange.active::after { background-image: url("service-arrow-orange.svg"); }
.services-type-2 { max-width: 825px; width: 100%; }
.services-type-2-item { margin-bottom: 160px; }
.services-type-2-header { display: flex; margin-bottom: 50px; flex-wrap: wrap; }
.services-type-2-image { width: 100%; }
.services-type-2-image img { max-width: 100%; }
.service-name { margin: 0px 0px 16px; font-family: Uni Sans; font-size: 20px; line-height: 24px; text-transform: uppercase; color: rgb(62, 62, 62); font-style: italic; font-weight: 600; }
.service-slider { padding: 0px; border-radius: 0px; }
.btn-service-slider { height: 30px; border: 1px solid rgb(194, 42, 62); transform: skew(-18deg); cursor: pointer; background: transparent url("arrow-service-slider.svg") no-repeat scroll center center; width: 31px; }
.btn-service-slider.rotate { transform: rotate(180deg) skew(-18deg); }
.btn-service-slider:first-child { margin-right: 16px; }
.btn-block-service-slider { display: flex; justify-content: center; margin-top: 16px; position: relative; }
.service-subname { font-family: Uni Sans; font-size: 14px; line-height: 20px; text-transform: uppercase; font-style: italic; color: rgb(62, 62, 62); margin-bottom: 30px; display: block; }
.service-info-block { display: flex; margin-top: 30px; }
.mw-100 { max-width: 100%; }
.footer-3000 { border-top: 0px none; border-bottom: 1px solid rgb(255, 255, 255); }
a.footer-copy { margin-top: 22px; }
.footer-copy { padding-top: 22px; }
.footer-3000 { padding-bottom: 44px; }
footer { background: rgb(14, 11, 14) none repeat scroll 0% 0%; }
.ledgen-button { position: fixed; right: 0px; bottom: 50px; width: 68px; height: 132px; background: rgb(212, 61, 63) url("ledgen-arrow.png") no-repeat scroll center center; border: 0px none; padding: 0px; cursor: pointer; transition: right 0.3s ease-in-out 0s; }
.ledgen-button:hover { background: rgb(173, 48, 49) url("ledgen-arrow.png") no-repeat scroll center center; }
.ledgen-block { position: fixed; right: -360px; bottom: 50px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px 118px 0px 50px; max-width: 360px; box-sizing: border-box; height: 132px; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-pack: center; justify-content: center; -moz-box-align: center; align-items: center; text-align: center; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25); transition: right 0.3s ease-in-out 0s; cursor: pointer; }
.ledgen-block span { font-family: Montserrat; font-weight: 600; font-size: 20px; line-height: 24px; color: rgb(0, 0, 0); margin: 0px 0px 5px; }
.ledgen-block p { font-family: Montserrat; font-size: 20px; line-height: 24px; text-align: center; margin: 0px; color: rgb(0, 0, 0); }
.modal-n-probnoe, .modal-n-discount { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1000; background: rgba(31, 31, 31, 0.7) none repeat scroll 0% 0%; overflow-y: scroll; display: none; }
.modal-n-header-hero { width: 100%; height: 415px; background-size: cover; background-position: center center; }
.modal-n-contianer { margin: 143px auto; width: 100%; max-width: 1370px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; }
.modal-n-discount .modal-n-contianer { margin: 50px auto; }
.modal-n-header-dark { background: rgb(0, 0, 0) none repeat scroll 0% 0%; padding: 20px 55px; display: flex; -moz-box-align: center; align-items: center; }
.modal-n-close { background: rgb(212, 61, 63) url("modal-close.png") no-repeat scroll center center; width: 44px; height: 44px; border: medium none; padding: 0px; border-radius: 22px; cursor: pointer; }
.modal-n-close:hover { background-color: rgb(173, 48, 49); }
.modal-n-close-right { position: absolute; right: -64px; top: 0px; }
.modal-n-header-dark .modal-n-close { margin-left: auto; }
.modal-n-container { box-sizing: border-box; padding: 0px 130px; }
.modal-n-h { display: block; text-align: center; margin: 65px 0px 20px; font-family: Montserrat; font-weight: 500; font-size: 30px; line-height: 48px; color: rgb(0, 0, 0); }
.modal-n-container p { font-family: Montserrat; font-style: normal; font-weight: 300; font-size: 18px; line-height: 28px; color: rgb(0, 0, 0); text-align: center; }
.modal-n-form { display: flex; flex-wrap: wrap; margin: 0px -15px; padding-bottom: 65px; }
.modal-n-input-50 { width: 50%; padding: 0px 15px; box-sizing: border-box; }
.modal-n-input-100 { width: 100%; padding: 0px 15px; box-sizing: border-box; }
.modal-n-form input[type="text"], .modal-n-form input[type="tel"], .modal-n-form input[type="email"] { width: 100%; height: 51px; box-sizing: border-box; padding: 0px 40px; border: 1px solid rgb(98, 98, 98); border-radius: 25px; font-family: Montserrat; font-style: normal; font-weight: 300; font-size: 18px; line-height: 48px; }
.modal-n-form-checkbox { display: block; width: -moz-max-content; max-width: 100%; margin: 20px auto 40px; cursor: pointer; }
.modal-n-form-checkbox span { margin-left: 10px; font-family: Montserrat; font-weight: 300; font-size: 16px; line-height: 48px; color: rgb(0, 0, 0); }
.modal-n-form button[type="submit"] { display: block; width: -moz-max-content; max-width: 100%; margin: 0px auto; padding: 10px 58px; font-weight: 500; font-size: 18px; line-height: 40px; cursor: pointer; }
.header-interactive { background: rgb(23, 23, 23) none repeat scroll 0% 0%; }
.icon-menu-new { display: block; width: 38px; height: 20px; background: transparent url("mobile-menu.png") no-repeat scroll center center / contain ; }
.icon-menu-search { display: block; width: 38px; height: 20px; background: transparent url("mobile-search.png") no-repeat scroll center center / contain ; }
.icon-menu-phone { display: block; width: 38px; height: 20px; background: transparent url("mobile-phone.png") no-repeat scroll center center / contain ; }
.icon-menu-calendar { display: block; width: 38px; height: 20px; background: transparent url("mobile-calendar.png") no-repeat scroll center center / contain ; }
.mobile-interactive-logo { margin-right: auto; }
.mobile-interactive-button { width: 50px; -moz-box-pack: center; justify-content: center; }
.ml-10 { margin-left: 10px; }
.header-interactive { padding: 0px 15px; }
.btn-slide, .btn-slide-outline { display: inline-block; padding: 6px 16px; box-sizing: border-box; font-family: Montserrat; font-style: normal; font-weight: 500; font-size: 18px; line-height: 40px; color: rgb(255, 255, 255); text-decoration: none; text-align: center; background: rgb(212, 61, 63) none repeat scroll 0% 0%; border: 2px solid rgb(212, 61, 63); border-radius: 35px; }
.btn-slide:hover { background: rgb(173, 48, 49) none repeat scroll 0% 0%; }
.btn-to-whatsapp { display: none; }
.input-error, .modal-n-form-checkbox span.input-error { font-size: 16px; line-height: normal; font-weight: normal; margin-top: 8px; margin-left: 33px; color: red; display: none; font-family: Montserrat; }
.modal-n-form-checkbox span.input-error { margin-top: -10px; }
@media (max-width: 1650px) {
  .modal-n-close-right { right: 10px; top: 10px; }
}
@media (max-width: 1140px) {
  .modal-n-contianer { margin: 82px auto; }
  .modal-n-h { margin-top: 42px; line-height: 36px; }
  .modal-n-contianer { max-width: 824px; }
  .modal-n-header-hero { height: 288px; }
  .services-menu { margin-bottom: 40px; }
  .services-type-2-image, .services-type-2 { max-width: 100%; }
  .services-banner { border-radius: 0px; margin-top: 0px; }
  .container-1140-100 { width: 100%; }
  .services-banner { padding: 60px 0px; }
  .show-1140 { display: flex; }
  .hide-1140 { display: none; }
  .slider-wrapper { height: 206px; }
  .col-4, .col-6, .col-8, .col-3 { width: 100%; }
  .f-f-h { padding-top: 46px; font-size: 18px; }
  .f-f-p { font-size: 14px; line-height: 20px; }
  .footer-form-image img { margin-top: 74px; }
  .col-2.footer-3000-item { width: 25%; }
  .slider-wrapper {  }
  .slide { background-size: 230px auto; }
  .services-menu { overflow-x: auto; width: 100%; border-width: medium medium 2px; border-style: none none solid; border-color: currentcolor currentcolor rgb(242, 242, 242); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: auto; padding: 0px; border-radius: 0px; }
  .services-menu ul li { margin-right: 41px; }
  .services-menu ul li a { background: transparent none repeat scroll 0% 0% ! important; font-family: Uni Sans; font-size: 13px; color: rgb(0, 0, 0) ! important; height: auto; text-transform: uppercase; padding: 13px 0px; position: relative; transition: opacity 0.15s ease 0s; }
  .services-menu a::after { display: none ! important; }
  .services-menu a::before { content: ""; position: absolute; width: 100%; bottom: 0px; height: 3px; background: transparent none repeat scroll 0% 0%; transition: background 0.3s ease 0s; }
  .services-menu ul { display: flex; }
}
@media (max-width: 768px) {
  .modal-n-container { padding: 0px 15px; }
  .input-error, .modal-n-form-checkbox span.input-error { font-size: 11px; margin-left: 22px; }
  .modal-n-input-50 { width: 100%; margin-bottom: 15px; }
  .modal-n-form input[type="text"], .modal-n-form input[type="tel"], .modal-n-form input[type="email"] { height: 45px; padding: 0px 22px; font-size: 15px; }
  .modal-n-h { margin: 35px 0px 15px; font-size: 18px; line-height: 26px; }
  .modal-n-container p { font-size: 12px; line-height: 20px; }
  .modal-n-form-checkbox { margin: 8px 0px 24px; display: flex; -moz-box-align: center; align-items: center; flex-wrap: wrap; }
  .modal-n-form-checkbox span { font-size: 12px; line-height: 20px; margin-left: 6px; max-width: 90%; }
  .modal-n-form-checkbox span.input-error { margin-top: 4px; max-width: initial; margin-left: 25px ! important; }
  .modal-n-form button[type="submit"] { width: 100%; }
  .modal-n-header-dark { padding: 10px 15px; }
  .modal-n-header-dark > img { max-width: 56px; }
  .modal-n-close { width: 20px; height: 20px; background-size: 11px auto; }
  .modal-n-contianer {  }
  .modal-n-contianer { width: calc(100% - 30px); }
  .modal-n-form { padding-bottom: 50px; }
  a.footer-copy { margin-top: 0px; margin-left: 0px; width: 100%; }
  .services-type-2-image { margin-right: 0px; }
  .services-type-2-item { margin-bottom: 100px; }
  .footer-img { background-size: contain; }
  .interative-menu-header-left { width: 100%; }
  .col-2.footer-3000-item { width: 50%; }
  .col-2 { width: 33%; }
  .ml-768-0 { margin-left: 0px; }
  .btn-to-whatsapp { width: 100%; background: rgb(67, 202, 60) none repeat scroll 0% 0%; margin-top: 10px; border-color: rgb(67, 202, 60); font-size: 14px; display: flex; align-items: center; justify-content: center; }
  .btn-to-whatsapp:hover { background: rgb(47, 156, 41) none repeat scroll 0% 0%; }
  .btn-icon-whatsapp { display: inline-block; margin-left: 12px; width: 23px; min-width: 23px; height: 23px; background: transparent url("whatsapp-icon.svg") no-repeat scroll center center; }
  .btn-to-whatsap-show { display: flex; -moz-box-align: center; align-items: center; -moz-box-pack: center; justify-content: center; }
}
@media (max-width: 829px) and (min-width: 768px) {
}
@media (max-width: 767px) {
  .ledgen-block { display: flex; justify-content: space-between; -moz-box-orient: horizontal; -moz-box-direction: normal; flex-direction: row; padding: 10px 15px; width: 100%; max-width: initial; bottom: 0px; right: 0px; background: rgb(212, 61, 63) none repeat scroll 0% 0%; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); transition: bottom 0.3s ease-in-out 0s; height: 45px; }
  .ledgen-button { display: none; }
}
@media (max-width: 767px) {
  .ledgen-block span { color: rgb(255, 255, 255); font-size: 10px; line-height: 10px; margin: 0px; }
  .ledgen-block p { color: rgb(255, 255, 255); font-size: 10px; line-height: 10px; }
}
.interative-menu-close, .modal-close { z-index: 1000; }
.interative-menu-header-right .btn-red { line-height: 35px; }
@media (max-width: 480px) {
  .slider-wrapper { min-height: 76px; }
  .col-2 { width: 50%; }
  .services-type-2-item { margin-bottom: 60px; }
  .modal .modal-close { top: -45px; right: 19px; }
  .col-2.footer-3000-item { width: 50%; }
  .col-5, .col-7 { width: 100%; }
  .slider-wrapper {  }
  .h2, .brands-container > h2, .tech-plus-comfort h2, .cloud-links-h2 .h2, .club-h2 { font-size: 18px; }
  .footer-form-image { width: 116px; margin-left: auto; height: 100px; }
  .footer-form-image img { margin-right: 10px; }
  .footer-form-btn { margin-top: 40px; }
  .slider-wrapper {  }
  .slide { background-position: right 40px bottom; background-size: 110px auto; }
  .accardion-header * { font-size: 14px; line-height: 18px; }
}
@media (max-width: 380px) {
  .services-type-2-image { max-width: 100%; }
  .col-2.footer-3000-item { width: 50%; }
  .services-banner { padding: 45px 40px; min-height: 0px; background-position: right -21px bottom; background-size: 154px auto; }
  .bg-s { background-size: 790px auto; }
  .slide { background-position: right 20px bottom; }
}
@media (max-width: 360px) {
  .modal-n-form button[type="submit"] {  }
}
@media print {
  body { font-size: 14px; padding-top: 0px; }
  .header, .breadcumbs, .shelude-filter, footer, .container-slider, .shedule-mobile { display: none; }
  .container { width: 100%; max-width: 100%; }
}
.header-ad { color: white; font-size: 14px; margin-right: 25px; }
.icon-contact-marker2::before { content: ""; color: rgb(255, 255, 255); }
